
*.aax
*.mp3
*.wav
ffmpeg*

*EBOK*
audio_and_text_matching/TPC/testing_inside_code_mp3_to_wav/*
audio_and_text_matching/TPC/*

*.pyc
*logdir*
*/data/*
hand_cleaning_tpc/*
*.zip
*.lnk
*transcript*.csv
